:root {
    --vt-size: 5px
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrollbars */
}

body {
    background-color: #2e2d2d;
}

.canv {
    background-color: #212121;
    border: none;
}

.vertex {
    background-color: white;
    width: var(--vt-size);
    height: var(--vt-size);
    border-radius: 50%;
    background-color: white;
    position: absolute;
}

.line {
    position: absolute;
    background-color: white;
    width: 1px;
    height: 1px;
    transform-origin: 0 0;
}